<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="BUNDLEFOLDER">
            <Component Id="cmp8359CC1E8D350083F0278B9CB0F21342" Guid="{A342DC30-A2DB-4329-8A3C-19F105202651}">
                <File Id="fil19ED41FF5860761BE6E22C5F675B3DCB" KeyPath="yes" Source="$(var.MySource)\Carbon.Framework.dll" />
            </Component>
            <Component Id="cmp87C39084E938CD84FF8DBDDE80DEF657" Guid="{76733075-BDE2-4B5F-8190-2C32E0B0616D}">
                <File Id="fil248565EE69FF147E890A24511C98FFB5" KeyPath="yes" Source="$(var.MySource)\Carbon.Framework.pdb" />
            </Component>
            <Component Id="cmp5F55C8CC3176D7648BC5A34EAEBBA44D" Guid="{1E02209D-EC41-440E-9708-B60E35658B48}">
                <File Id="filE79C1C30EB1AA570B5E4F9058AAA94BF" KeyPath="yes" Source="$(var.MySource)\Carbon.Framework.XML" />
            </Component>
            <Component Id="cmp09B9CA421008AE025CF8AB793E2D40BB" Guid="{4A84121D-9AD8-430A-B396-E205D0834FB7}">
                <File Id="filE6BE6491520475447A67E26E02AD3ABE" KeyPath="yes" Source="$(var.MySource)\ICSharpCode.SharpZipLib.dll" />
            </Component>
            <Component Id="cmp05679C87CE0E4C5AD24B36BE3D35E2A3" Guid="{10EA56D2-B3F7-47B7-8B0A-F5BA3AB022FB}">
                <File Id="filDF297495B2E728F9E7E6AA80F4815789" KeyPath="yes" Source="$(var.MySource)\License Carbon.Framework.txt" />
            </Component>
            <Component Id="cmp8148EECF17E855202D9F75B65EB3CD28" Guid="{9334352D-529A-48A0-8179-8791E64ADB94}">
                <File Id="fil908A71321237CDD9E30DAE97841B24BD" KeyPath="yes" Source="$(var.MySource)\License-Apache-2.0.txt" />
            </Component>
            <Component Id="cmpC80A1D31DFB66238E935AE9B5652E60E" Guid="{31401011-221B-4E49-8359-8BC8C97CA856}">
                <File Id="filC13DE76212ABEABF203B4AA15C480F7D" KeyPath="yes" Source="$(var.MySource)\License-Carbon.Framework.txt" />
            </Component>
            <Component Id="cmp113B8EFA0795F63B640901B7234E5DB7" Guid="{5F53F0FF-71A1-4D6D-A0B3-E202A1538AFE}">
                <File Id="filD97A05F08413ADBF060C404458F2FD9A" KeyPath="yes" Source="$(var.MySource)\License-fyiReporting.txt" />
            </Component>
            <Component Id="cmp9F2835D4D012B2EDA24F140E91B6E85F" Guid="{CBE69B7A-25AA-43C4-898A-938BCA2B85D6}">
                <File Id="fil1CF6688E4371E2A7F4D0F901BD9AAE69" KeyPath="yes" Source="$(var.MySource)\License-log4net.txt" />
            </Component>
            <Component Id="cmpCDE00B1B8EA7CB654E08738566813722" Guid="{748D7F1A-6647-4951-A8EC-90F8D636CB82}">
                <File Id="fil50FA5971F135FCD798CCC17C376AF180" KeyPath="yes" Source="$(var.MySource)\License-MWTreeview.txt" />
            </Component>
            <Component Id="cmp3D0E2A8A92B3E702DDCFB72A30BAF241" Guid="{234441F3-931C-4AC0-A29D-03424F38F905}">
                <File Id="filAD8D211A8E5C9292774A762750F99295" KeyPath="yes" Source="$(var.MySource)\License-RealUnits.txt" />
            </Component>
            <Component Id="cmpD83558169D5F06FAB191AB2B515987C2" Guid="{FDAF29FE-91EB-4E3E-ABB1-FBE69ECF19A0}">
                <File Id="filD37EC1C60553424901B1836C1D63EC7C" KeyPath="yes" Source="$(var.MySource)\License-SharpZipLib.txt" />
            </Component>
            <Component Id="cmpA869BE83CB614F4AC7B980C398F71B99" Guid="{F0B39768-147E-418A-B417-6884431B79A6}">
                <File Id="filA7FC4CC9A4273A5D6E29618C27D75628" KeyPath="yes" Source="$(var.MySource)\log4net.dll" />
            </Component>
            <Component Id="cmp17616DE688B6EC4C00542E03A14E2C3E" Guid="{A2BA8021-7C04-4B11-A5E7-BFC568C7AD32}">
                <File Id="fil2679C579C92E4492561CFA86B8DB3DE9" KeyPath="yes" Source="$(var.MySource)\log4net.xml" />
            </Component>
            <Component Id="cmpCACEFB9FFCE7838EB7D5FDEC4C874B18" Guid="{812C9B7B-1808-4844-BD4A-7F0574194432}">
                <File Id="fil4C40DD03F110A7E8DF1D69C2259721E9" KeyPath="yes" Source="$(var.MySource)\MySql.Data.dll" />
            </Component>
            <Component Id="cmp29614E728367EFD6AD9D52648937ECA4" Guid="{354279EB-1579-4B19-9468-E9A1217E2939}">
                <File Id="fil31F0663269BA7B2AEDDBDF1203E69706" KeyPath="yes" Source="$(var.MySource)\RdlEngine.dll" />
            </Component>
            <Component Id="cmpFFDA51BFE1101D16904DCBB1B1CAA734" Guid="{299C1A16-4D2E-4A72-BD33-EF9B31328CE3}">
                <File Id="filA1746F20C56C527F70708DEA1C0220E0" KeyPath="yes" Source="$(var.MySource)\RdlViewer.DLL" />
            </Component>
            <Component Id="cmp9FA4799BFFBFF4E433E0951387689C52" Guid="{46BAD2CF-EC74-4490-A344-532CA8C04A81}">
                <File Id="filA2B47D0750F94A2A716DED347A442B98" KeyPath="yes" Source="$(var.MySource)\SDBees.Core.dll" />
            </Component>
            <Component Id="cmp331CF1AB1D0644CA430E26502521CFFD" Guid="{45C11147-9914-4D21-95FA-4C2DF186EC4F}">
                <File Id="fil7A8AF46B030CD132C5077660EAB461F5" KeyPath="yes" Source="$(var.MySource)\SDBees.Core.dll.config" />
            </Component>
            <Component Id="cmp8553CD8CEFB39A2455DDAB675920DA14" Guid="{6F51F2CD-4172-4837-B6A9-8C41B660A591}">
                <File Id="fil2E18B0464A5707AE7374C56DEF49D01C" KeyPath="yes" Source="$(var.MySource)\SDBees.Core.pdb" />
            </Component>
            <Component Id="cmp741D2CB88A36CC26724270417DFAAF5F" Guid="{12748EC5-B8EA-4BEF-BBB8-EC1A906B38B7}">
                <File Id="filFA71AFB62C51A10F3450B3DFE9F2544A" KeyPath="yes" Source="$(var.MySource)\SDBees.Core.XML" />
            </Component>
            <Component Id="cmp7E8A3AD2BBF6C2BBC19EBCEA86B47E7E" Guid="{5E162E1A-777D-4614-AA0E-E7A3242731F7}">
                <File Id="fil21FC87475E245B5FEE8B3C72E30D0CA8" KeyPath="yes" Source="$(var.MySource)\SDBees.exe" />
            </Component>
            <Component Id="cmp8804465F14C0AD8BAF582B1C7EC64BAB" Guid="{A4994474-ECEF-4938-9F66-78E992C8AFCE}">
                <File Id="filAD5566244304FB89AE638A726475FBAB" KeyPath="yes" Source="$(var.MySource)\SDBees.exe.config" />
            </Component>
            <Component Id="cmpB1948AE62E56CFA754FFE77578F15C2A" Guid="{66BCC8C6-3E8C-43E3-80C1-196F16C84350}">
                <File Id="filFA3CC3E6FF0B9877CEAAC54C9CCE9729" KeyPath="yes" Source="$(var.MySource)\SDBees.pdb" />
            </Component>
            <Component Id="cmp1DB141AC9B8FEE1BAFB4BAFC802FC667" Guid="{542BCAB0-6994-4154-AA90-AF9735890A97}">
                <File Id="filF0154A597A2E2D96E69BF87660805B22" KeyPath="yes" Source="$(var.MySource)\SDBees.Plugins.dll" />
            </Component>
            <Component Id="cmp52279DD3D7B7F0273FCEC9AC9A49AFD9" Guid="{63DA363B-38CF-484A-9D71-371B11A4B46D}">
                <File Id="fil21752B16AEDC5904E46FD95F710D06B3" KeyPath="yes" Source="$(var.MySource)\SDBees.Plugins.pdb" />
            </Component>
            <Component Id="cmpAE785B158427A454930AD1BA429775D5" Guid="{C75FA770-C2E8-4DD7-A517-0086EBC381E6}">
                <File Id="fil895576FA3FE78D34FE42AB2A73DB31E8" KeyPath="yes" Source="$(var.MySource)\SDBees.Plugins.xml" />
            </Component>
            <Component Id="cmp98FDE4710287BAF312500CC3C455BAA7" Guid="{17D35FFD-8E64-40D9-A4A2-3D32D0E611CA}">
                <File Id="filBB2A490845746924DF76E5549AFD2162" KeyPath="yes" Source="$(var.MySource)\SDBees.XML" />
            </Component>
            <Component Id="cmpE37AEB786E89F844F30C1E45F8AAE28D" Guid="{B504DC45-1A9C-4B8D-80C3-1DB27A6464E9}">
                <File Id="filC13B15E0EFA983CB122A656DFAA280C0" KeyPath="yes" Source="$(var.MySource)\SQLite.Designer.dll" />
            </Component>
            <Component Id="cmp02EC4EB3636C8C82CF4386993A0F9A07" Guid="{D016CBBC-D7B0-4F04-9546-3BAF0A24E394}">
                <File Id="fil62CACDB7A813C62190EA5D59DDDB6EAB" KeyPath="yes" Source="$(var.MySource)\SQLite.Designer.pdb" />
            </Component>
            <Component Id="cmpB6437C4FF28C2AE5C00A058B7ED7240B" Guid="{C7B849BD-66D6-43DD-8088-6C5241EC1031}">
                <File Id="fil9A69FE6481904BA540959A33F243A40C" KeyPath="yes" Source="$(var.MySource)\SQLite.Designer.xml" />
            </Component>
            <Component Id="cmpCBD5BB28FAE20AB8E9B5A707619AA30C" Guid="{7DFD0365-330C-4A22-889A-29B29DD322B6}">
                <File Id="fil87DBD9EC63437407E9EE3CEFF90E344D" KeyPath="yes" Source="$(var.MySource)\System.Data.SQLite.dll" />
            </Component>
            <Component Id="cmpD3629BC45DF129F31770EA6892DE17B5" Guid="{B0B29F4D-DDF6-4CAA-AC20-2B7888B29A34}">
                <File Id="filF318F665E08C54FAA54E697F8F492D29" KeyPath="yes" Source="$(var.MySource)\System.Data.SQLite.dll.config" />
            </Component>
            <Component Id="cmp406CC7B25375D0FCF250CA85E0E5883F" Guid="{67016315-F0B6-4750-B678-D8B70BA8AC0F}">
                <File Id="filA7024066AA966503E6A70BD1031C3F57" KeyPath="yes" Source="$(var.MySource)\System.Data.SQLite.EF6.dll" />
            </Component>
            <Component Id="cmpD23F8B982DF12A18B4E4A78C37F5D0A6" Guid="{0ADE2B92-370D-4137-B5E3-75DCF5B0F302}">
                <File Id="fil35CE5BA5FCEEA9BD4160E3E880E29B5F" KeyPath="yes" Source="$(var.MySource)\System.Data.SQLite.EF6.pdb" />
            </Component>
            <Component Id="cmpAF2E572BF03B2CD449B1C0C24B0025EC" Guid="{F5427CDE-831F-45E4-8EDC-827C36C26C79}">
                <File Id="fil11E66C80779CAB3E9AEBC209B1B0B1B0" KeyPath="yes" Source="$(var.MySource)\System.Data.SQLite.EF6.xml" />
            </Component>
            <Component Id="cmp37A36500A3CDAD2F647F64B6E965A5C8" Guid="{7922E2FB-6C11-423B-8D18-0A2658A039D1}">
                <File Id="fil50FA1C64A40BACD02C096E5DCEF955C5" KeyPath="yes" Source="$(var.MySource)\System.Data.SQLite.Linq.dll" />
            </Component>
            <Component Id="cmpB9E860B30A39625CEFB79CA5D39D1CDB" Guid="{BEA6FBE6-E84E-4907-BF8B-BD679924787D}">
                <File Id="filC0A3377052D97DEADEE72FD28A8E70F0" KeyPath="yes" Source="$(var.MySource)\System.Data.SQLite.Linq.pdb" />
            </Component>
            <Component Id="cmp323CE4762501760E40C5E5DF9C566974" Guid="{6BC527F9-5BCB-44D6-BE7A-E3389E9E66CF}">
                <File Id="filF3CFF889A82DACC52C1A0C43B3CFAD53" KeyPath="yes" Source="$(var.MySource)\System.Data.SQLite.Linq.xml" />
            </Component>
            <Component Id="cmp9C1110C5C49D8A7674FD068F339085A0" Guid="{2D166347-7FE8-4FA1-B8AA-CE3EBDFDCCF5}">
                <File Id="fil5FC7750D0680315D2CCCEE3F4E9AB0E8" KeyPath="yes" Source="$(var.MySource)\System.Data.SQLite.pdb" />
            </Component>
            <Component Id="cmp1C775985F8A5029E96F259881DBE26CF" Guid="{9813269A-C6B9-4C5D-84A2-67D2576910D1}">
                <File Id="filB967BC8F5DD451849F25929014380C83" KeyPath="yes" Source="$(var.MySource)\System.Data.SQLite.xml" />
            </Component>
            <Directory Id="dir10D8D5ABD08ADF8DAE633BAE9F3A1DAC" Name="Content">
                <Directory Id="dir0C23426DD9F8935DF98E8E56BE2F4A1B" Name="DemoDataSMARTDataBees">
                    <Component Id="cmpA57E27EBF02FC800A9A797999B8483F7" Guid="{92CA11BD-351B-41BF-87DA-29CAFBDD2E7C}">
                        <File Id="filF047040ACAEC758FD7F32F301E5E00F9" KeyPath="yes" Source="$(var.MySource)\Content\DemoDataSMARTDataBees\DemoDataSMARTDataBees.s3db" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dir593A61FA85C8B536AFD9F58F6DEBC72F" Name="Resources">
                <Component Id="cmp72119624B416D97FB663C7B63B32809A" Guid="{61D1A396-433F-45B3-9AF5-7780850049FD}">
                    <File Id="filB8F3BBD7E22FF4D961D8A14BEB747301" KeyPath="yes" Source="$(var.MySource)\Resources\About.png" />
                </Component>
                <Component Id="cmpF72D0D7ADB53F6D8A492EB8DA7D4A9B0" Guid="{771F783A-7797-4CC9-985D-C7D30A267A4B}">
                    <File Id="fil6B6DD0772BCFFE7135374E9FE7387744" KeyPath="yes" Source="$(var.MySource)\Resources\Exit.png" />
                </Component>
                <Component Id="cmp6CB7BC81759D60E237FDAE30FE982B85" Guid="{41B65950-3703-4C3C-AFF5-06BDFF17C993}">
                    <File Id="filF915AD5CA35E153E1177F8C9B5A75B13" KeyPath="yes" Source="$(var.MySource)\Resources\Explorer.png" />
                </Component>
                <Component Id="cmp27CEE64CE99CE9FD1AE74AD1F9A4C654" Guid="{40115276-A230-40DD-8D28-0443BF2E187E}">
                    <File Id="filCF98156B82B115CCFAAA4AAE8CB42BBC" KeyPath="yes" Source="$(var.MySource)\Resources\IconFailed.ico" />
                </Component>
                <Component Id="cmp66DCD7C6E4A53EBF2AA69BD2A5C587E9" Guid="{6F694532-6C7A-4B83-AC52-717C41A1B675}">
                    <File Id="fil4C191DDE42113FD44F9B2E781DBA3442" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.AEC.Building.AECBuilding.ico" />
                </Component>
                <Component Id="cmp5493FB0370031E5BE6E78B755657CD26" Guid="{4C2F2A88-4F80-47CD-9F76-F8A0B735FE5A}">
                    <File Id="fil70C213F18A2980277895F58660923AA4" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.AEC.Curtainwall.AECCurtainwall.ico" />
                </Component>
                <Component Id="cmpDA2649BA11FCA15BDBD0916FF8AB5F6B" Guid="{17FC06CA-E114-44EB-BCFA-ADC947F001C3}">
                    <File Id="fil43A05A55A1294F7AE19978BE7DCA7844" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.AEC.Curtainwall.AECCurtainwallArea.ico" />
                </Component>
                <Component Id="cmpD90370C129DCF870CE005858A52073B4" Guid="{DBEE9C84-F0A4-4110-9019-A117519B6854}">
                    <File Id="fil89825033F052C354EE670F7A9F12A781" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.AEC.Door.AECDoor.ico" />
                </Component>
                <Component Id="cmp427D3DBB1F57C8754CE6C795CA5DC85C" Guid="{B797229E-0C3B-4A16-923F-5094D33C39C7}">
                    <File Id="fil9ACE6C58A5CE6A8CE88CF76B2535440E" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.AEC.Room.AECRoom.ico" />
                </Component>
                <Component Id="cmp702101ACF54C41D46C0F055668769521" Guid="{1185F5D7-5944-4BB6-9597-11DBADB04912}">
                    <File Id="filA4ABACF8012672637AAC28FA2B49BEF8" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.AEC.Storey.AECStorey.ico" />
                </Component>
                <Component Id="cmp7749675BB71CA37E4DC2D8DF547B5FB4" Guid="{492D8680-1086-4359-B384-17A3500F1837}">
                    <File Id="filDCFDC4F1899E91D2E123A55739913DCC" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.AEC.Storey.AECStorey1.ico" />
                </Component>
                <Component Id="cmpCBDA41B9BC81B35D128DC2E423892CA4" Guid="{9CA48DA7-C0CB-4EEA-BBB6-5ADBC468889B}">
                    <File Id="filEF0E91A47475C1CD401DA2EE529FDE5E" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.AEC.Wall.AECWall.ico" />
                </Component>
                <Component Id="cmpD1383F519473EAFB0BB95933D270BF96" Guid="{3F6814A1-4F77-489C-BEA3-6070D61E06D0}">
                    <File Id="filDDB6465F9F4EFA6072D29B15F88530CB" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.AEC.Window.AECWindow.ico" />
                </Component>
                <Component Id="cmpAFCDC9EE80280D2072C43D9089ED8410" Guid="{A8F03920-F31B-4C67-A797-BD68FE11BBD8}">
                    <File Id="fil75635344A8659B3A62F760D3656B1828" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.AEC.Zone.AECZone.ico" />
                </Component>
                <Component Id="cmp269873624264D4833D0A271143567F6E" Guid="{7365E33B-8C34-4D44-B245-9DCB6D92A076}">
                    <File Id="fil19FB988EEFCC089D6FF07FFD8A2CDC79" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.Demoplugins.Dummys.Dummy1.ico" />
                </Component>
                <Component Id="cmpF9E3F4483C08DD04D12BDE4664289591" Guid="{428536F7-E6FC-46B7-9DD7-1BE77F7A28A4}">
                    <File Id="filD6267405DC87C28A8A658D75E4E4A748" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.Demoplugins.Dummys.Dummy2.ico" />
                </Component>
                <Component Id="cmp1C1A34ACC4E775BB7048B84EDE117A58" Guid="{766BA4DA-1F25-495A-8BB4-BDC50E6372CF}">
                    <File Id="filB33BC35C5F3F57755ECE9C9BA4476518" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.ico" />
                </Component>
                <Component Id="cmp03D6408A9A94A720601180A8FC4755FE" Guid="{13B2291F-F033-4F06-902B-52B8D0D8D1BE}">
                    <File Id="fil90902415FDA4AA54D4B818FE1795FBA3" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.MEP.BuildingStatistics.MEPBuildingsStats.ico" />
                </Component>
                <Component Id="cmp2CCB1EBB7E6CE3B0BFC177C133CFDC83" Guid="{55452DB4-5209-491B-8964-9BA1D4DED4C7}">
                    <File Id="fil3BF665E26FB0388002F013795095620D" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.MEP.ContractData.MEPContractData.ico" />
                </Component>
                <Component Id="cmp0FC2D60BB3C2161E92D6523E2F38B379" Guid="{22763E77-7EFE-4B4A-AC33-1C3A79513F1E}">
                    <File Id="fil74F32BC6C385046C0D0F7307D43EF28E" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.MEP.Element.MEPElement.ico" />
                </Component>
                <Component Id="cmpC72D283B9270857FBCA42C19F6EC7B12" Guid="{95319D40-1575-491D-9E2B-2089E187339C}">
                    <File Id="filFF9F656EDF0C6A9421D76979EB7B6B74" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.MEP.System.MEPCutOut.ico" />
                </Component>
                <Component Id="cmpF3AD7417ECDB9E1AE897785E4271E9AD" Guid="{74AF7A74-BD7C-48E6-88FC-9EB036C1F53F}">
                    <File Id="fil43DC135C4EAF1EC212F441413C7E05D7" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.MEP.System.MEPSystem.ico" />
                </Component>
                <Component Id="cmp779005D4215E3D5706C68C720BC9360E" Guid="{CD81C817-0BA7-44C9-8E3D-F9F394B62B05}">
                    <File Id="filBC3752ED0E7AD0A7378EA53138E41C90" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees.png" />
                </Component>
                <Component Id="cmpEC58F6FE7A53FA53BFE278157655759A" Guid="{1771C910-BAE1-4185-BD9B-197D243F7526}">
                    <File Id="fil59596B9CB23915BDEDFB4FEB0E1D8FA9" KeyPath="yes" Source="$(var.MySource)\Resources\SDBees1.ico" />
                </Component>
                <Component Id="cmpB724F9BEF480E8D4EE1BC4B72A89ECEE" Guid="{742D1EBF-6D3A-4290-88D7-1FC182133364}">
                    <File Id="filA4D6440B12493065B6E89F137C635715" KeyPath="yes" Source="$(var.MySource)\Resources\SecurityAllow.bmp" />
                </Component>
                <Component Id="cmpD9AEE0502241461BC45DC043735CF44E" Guid="{6D4ED662-A2FA-4DE9-85F4-742FAA6BF379}">
                    <File Id="filB5CD4F7A01870A3913385898F22F7D00" KeyPath="yes" Source="$(var.MySource)\Resources\SecurityDeny.bmp" />
                </Component>
                <Component Id="cmpF96156C9272C11F39F539722B58E7549" Guid="{0AC37D70-AFFE-4B92-BF38-3E268F900274}">
                    <File Id="filAE464F98F142567D4DD98C545D6F7BF8" KeyPath="yes" Source="$(var.MySource)\Resources\StandardIcon.ico" />
                </Component>
                <Component Id="cmp3516105C5E0E03D12B34A975DECB6B40" Guid="{754A6032-34F7-47D9-B428-BC1E7200591D}">
                    <File Id="fil62286C2C5B87A13A0B33E0FFF8429384" KeyPath="yes" Source="$(var.MySource)\Resources\SystemTrayApp.ico" />
                </Component>
                <Component Id="cmp3910DB2E57011DA3402790549C6DEA90" Guid="{F4AD6E60-EDC7-433C-AEF1-FFC3C8BADAD1}">
                    <File Id="fil7F26B70E8A596416B349F0B17575B18C" KeyPath="yes" Source="$(var.MySource)\Resources\User.bmp" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="BundleFiles">
            <ComponentRef Id="cmp8359CC1E8D350083F0278B9CB0F21342" />
            <ComponentRef Id="cmp87C39084E938CD84FF8DBDDE80DEF657" />
            <ComponentRef Id="cmp5F55C8CC3176D7648BC5A34EAEBBA44D" />
            <ComponentRef Id="cmp09B9CA421008AE025CF8AB793E2D40BB" />
            <ComponentRef Id="cmp05679C87CE0E4C5AD24B36BE3D35E2A3" />
            <ComponentRef Id="cmp8148EECF17E855202D9F75B65EB3CD28" />
            <ComponentRef Id="cmpC80A1D31DFB66238E935AE9B5652E60E" />
            <ComponentRef Id="cmp113B8EFA0795F63B640901B7234E5DB7" />
            <ComponentRef Id="cmp9F2835D4D012B2EDA24F140E91B6E85F" />
            <ComponentRef Id="cmpCDE00B1B8EA7CB654E08738566813722" />
            <ComponentRef Id="cmp3D0E2A8A92B3E702DDCFB72A30BAF241" />
            <ComponentRef Id="cmpD83558169D5F06FAB191AB2B515987C2" />
            <ComponentRef Id="cmpA869BE83CB614F4AC7B980C398F71B99" />
            <ComponentRef Id="cmp17616DE688B6EC4C00542E03A14E2C3E" />
            <ComponentRef Id="cmpCACEFB9FFCE7838EB7D5FDEC4C874B18" />
            <ComponentRef Id="cmp29614E728367EFD6AD9D52648937ECA4" />
            <ComponentRef Id="cmpFFDA51BFE1101D16904DCBB1B1CAA734" />
            <ComponentRef Id="cmp9FA4799BFFBFF4E433E0951387689C52" />
            <ComponentRef Id="cmp331CF1AB1D0644CA430E26502521CFFD" />
            <ComponentRef Id="cmp8553CD8CEFB39A2455DDAB675920DA14" />
            <ComponentRef Id="cmp741D2CB88A36CC26724270417DFAAF5F" />
            <ComponentRef Id="cmp7E8A3AD2BBF6C2BBC19EBCEA86B47E7E" />
            <ComponentRef Id="cmp8804465F14C0AD8BAF582B1C7EC64BAB" />
            <ComponentRef Id="cmpB1948AE62E56CFA754FFE77578F15C2A" />
            <ComponentRef Id="cmp1DB141AC9B8FEE1BAFB4BAFC802FC667" />
            <ComponentRef Id="cmp52279DD3D7B7F0273FCEC9AC9A49AFD9" />
            <ComponentRef Id="cmpAE785B158427A454930AD1BA429775D5" />
            <ComponentRef Id="cmp98FDE4710287BAF312500CC3C455BAA7" />
            <ComponentRef Id="cmpE37AEB786E89F844F30C1E45F8AAE28D" />
            <ComponentRef Id="cmp02EC4EB3636C8C82CF4386993A0F9A07" />
            <ComponentRef Id="cmpB6437C4FF28C2AE5C00A058B7ED7240B" />
            <ComponentRef Id="cmpCBD5BB28FAE20AB8E9B5A707619AA30C" />
            <ComponentRef Id="cmpD3629BC45DF129F31770EA6892DE17B5" />
            <ComponentRef Id="cmp406CC7B25375D0FCF250CA85E0E5883F" />
            <ComponentRef Id="cmpD23F8B982DF12A18B4E4A78C37F5D0A6" />
            <ComponentRef Id="cmpAF2E572BF03B2CD449B1C0C24B0025EC" />
            <ComponentRef Id="cmp37A36500A3CDAD2F647F64B6E965A5C8" />
            <ComponentRef Id="cmpB9E860B30A39625CEFB79CA5D39D1CDB" />
            <ComponentRef Id="cmp323CE4762501760E40C5E5DF9C566974" />
            <ComponentRef Id="cmp9C1110C5C49D8A7674FD068F339085A0" />
            <ComponentRef Id="cmp1C775985F8A5029E96F259881DBE26CF" />
            <ComponentRef Id="cmpA57E27EBF02FC800A9A797999B8483F7" />
            <ComponentRef Id="cmp72119624B416D97FB663C7B63B32809A" />
            <ComponentRef Id="cmpF72D0D7ADB53F6D8A492EB8DA7D4A9B0" />
            <ComponentRef Id="cmp6CB7BC81759D60E237FDAE30FE982B85" />
            <ComponentRef Id="cmp27CEE64CE99CE9FD1AE74AD1F9A4C654" />
            <ComponentRef Id="cmp66DCD7C6E4A53EBF2AA69BD2A5C587E9" />
            <ComponentRef Id="cmp5493FB0370031E5BE6E78B755657CD26" />
            <ComponentRef Id="cmpDA2649BA11FCA15BDBD0916FF8AB5F6B" />
            <ComponentRef Id="cmpD90370C129DCF870CE005858A52073B4" />
            <ComponentRef Id="cmp427D3DBB1F57C8754CE6C795CA5DC85C" />
            <ComponentRef Id="cmp702101ACF54C41D46C0F055668769521" />
            <ComponentRef Id="cmp7749675BB71CA37E4DC2D8DF547B5FB4" />
            <ComponentRef Id="cmpCBDA41B9BC81B35D128DC2E423892CA4" />
            <ComponentRef Id="cmpD1383F519473EAFB0BB95933D270BF96" />
            <ComponentRef Id="cmpAFCDC9EE80280D2072C43D9089ED8410" />
            <ComponentRef Id="cmp269873624264D4833D0A271143567F6E" />
            <ComponentRef Id="cmpF9E3F4483C08DD04D12BDE4664289591" />
            <ComponentRef Id="cmp1C1A34ACC4E775BB7048B84EDE117A58" />
            <ComponentRef Id="cmp03D6408A9A94A720601180A8FC4755FE" />
            <ComponentRef Id="cmp2CCB1EBB7E6CE3B0BFC177C133CFDC83" />
            <ComponentRef Id="cmp0FC2D60BB3C2161E92D6523E2F38B379" />
            <ComponentRef Id="cmpC72D283B9270857FBCA42C19F6EC7B12" />
            <ComponentRef Id="cmpF3AD7417ECDB9E1AE897785E4271E9AD" />
            <ComponentRef Id="cmp779005D4215E3D5706C68C720BC9360E" />
            <ComponentRef Id="cmpEC58F6FE7A53FA53BFE278157655759A" />
            <ComponentRef Id="cmpB724F9BEF480E8D4EE1BC4B72A89ECEE" />
            <ComponentRef Id="cmpD9AEE0502241461BC45DC043735CF44E" />
            <ComponentRef Id="cmpF96156C9272C11F39F539722B58E7549" />
            <ComponentRef Id="cmp3516105C5E0E03D12B34A975DECB6B40" />
            <ComponentRef Id="cmp3910DB2E57011DA3402790549C6DEA90" />
        </ComponentGroup>
    </Fragment>
</Wix>