<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>

    <!-- Carbon Required Section Handlers -->
    <sectionGroup name="CarbonSettings">
      <section name="CarbonConfigurationProviders" type="Carbon.Configuration.SectionHandlers.Custom.ConfigurationProvidersSectionHandler, Carbon.Framework"/>
      <section name="CarbonPluginProviders" type="Carbon.Configuration.SectionHandlers.Custom.PluginProvidersSectionHandler, Carbon.Framework"/>
      <section name="CarbonWindowProviders" type="Carbon.Configuration.SectionHandlers.Custom.WindowProvidersSectionHandler, Carbon.Framework"/>
    </sectionGroup>

  </configSections>

  <appSettings>

    <!-- Carbon Required Settings -->
    <add key="CarbonSettingsGroupName" value="CarbonSettings" />
    <add key="CarbonConfigurationProvidersSectionName" value="CarbonConfigurationProviders" />
    <add key="CarbonPluginProvidersSectionName" value="CarbonPluginProviders" />
    <add key="CarbonWindowProvidersSectionName" value="CarbonWindowProviders" />
    <add key="CarbonSplashWindowProviderName" value="SplashWindowProvider" />
    <add key="CarbonAboutWindowProviderName" value="AboutWindowProvider" />
    <add key="CarbonOptionsWindowProviderName" value="OptionsWindowProvider" />
    <add key="CarbonDocumentsAndSettingsRelativePath" value="CodeReflection\Carbon" />
    <add key="CarbonRunApplicationContext" value="true" />
    <add key="CarbonVerbose" value="true" />
    <add key="CarbonShowSplashWindow" value="true" />
    <add key="CarbonSingleInstance" value ="true"/>
    <add key="CarbonSingleInstancePort" value ="20000"/>
    <add key="CarbonSingleInstanceMutexName" value="dbce9d50-827d-4957-bf6a-3eeb308dbf09"/>
    <add key="CarbonAutoUpdateWebServiceUrl" value="http://mbelles-desktop/autoupdate/autoupdatewebservice.asmx"/>
  </appSettings>

  <!-- Carbon Specific Settings -->
  <CarbonSettings>

    <!-- Configuration Providers -->
    <CarbonConfigurationProviders>

      <!-- All Users Configuration -->
      <Provider Name="AllUsersConfigurationProvider" Type="Carbon.Configuration.Providers.Custom.AllUsersConfigurationProvider, Carbon.Framework" />

      <!-- Local Users Configuration -->
      <Provider Name="LocalUsersConfigurationProvider" Type="Carbon.Configuration.Providers.Custom.LocalUsersConfigurationProvider, Carbon.Framework" />

    </CarbonConfigurationProviders>

    <!-- Plugin Providers -->
    <CarbonPluginProviders>

      <!-- File System Plugins -->
      <Provider Name="FileSystemPlugInProvider" Type="Carbon.Plugins.Providers.Custom.FileSystemPlugInProvider, Carbon.Framework" />

    </CarbonPluginProviders>

    <!-- Window Providers -->
    <CarbonWindowProviders>

      <Provider Name="SplashWindowProvider" Type="Carbon.UI.Providers.Custom.SplashWindowProvider, Carbon.Framework" />
      <Provider Name="AboutWindowProvider" Type="Carbon.UI.Providers.Custom.AboutWindowProvider, Carbon.Framework" />
      <Provider Name="OptionsWindowProvider" Type="Carbon.UI.Providers.Custom.OptionsWindowProvider, Carbon.Framework" />

    </CarbonWindowProviders>

  </CarbonSettings>

</configuration>
