<?xml version="1.0"?>
<configuration>

  <configSections>

    <!-- Carbon Required Section Handlers -->
    <sectionGroup name="CarbonSettings">
      <section name="CarbonConfigurationProviders" type="Carbon.Configuration.SectionHandlers.Custom.ConfigurationProvidersSectionHandler, Carbon.Framework"/>
      <section name="CarbonPluginProviders" type="Carbon.Configuration.SectionHandlers.Custom.PluginProvidersSectionHandler, Carbon.Framework"/>
      <section name="CarbonWindowProviders" type="Carbon.Configuration.SectionHandlers.Custom.WindowProvidersSectionHandler, Carbon.Framework"/>
    </sectionGroup>

  </configSections>

  <appSettings>

    <!-- Carbon Required Settings -->
    <add key="CarbonSettingsGroupName" value="CarbonSettings"/>
    <add key="CarbonConfigurationProvidersSectionName" value="CarbonConfigurationProviders"/>
    <add key="CarbonPluginProvidersSectionName" value="CarbonPluginProviders"/>
    <add key="CarbonWindowProvidersSectionName" value="CarbonWindowProviders"/>
    <add key="CarbonSplashWindowProviderName" value="SplashWindowProvider"/>
    <add key="CarbonAboutWindowProviderName" value="AboutWindowProvider"/>
    <add key="CarbonOptionsWindowProviderName" value="OptionsWindowProvider"/>
    <add key="CarbonDocumentsAndSettingsRelativePath" value="SMARTDataBees\SDBees"/>
    <add key="CarbonRunApplicationContext" value="false"/>
    <add key="CarbonVerbose" value="false"/>
    <add key="CarbonShowSplashWindow" value="false"/>
    <add key="CarbonSingleInstance" value="false"/>
    <add key="CarbonSingleInstancePort" value="30000"/>
    <add key="CarbonSingleInstanceMutexName" value="d7685848-13a5-4f55-804e-513d7fd4781a"/>
    <add key="CarbonAutoUpdateWebServiceUrl" value="http://www.razorwire.com/autoupdate/autoupdatewebservice.asmx"/>

  </appSettings>

  <!-- Carbon Specific Settings -->
  <CarbonSettings>

    <!-- Configuration Providers -->
    <CarbonConfigurationProviders>

      <!-- All Users Configuration -->
      <Provider Name="AllUsersConfigurationProvider" Type="Carbon.Configuration.Providers.Custom.AllUsersConfigurationProvider, Carbon.Framework"/>

      <!-- Local Users Configuration -->
      <Provider Name="LocalUsersConfigurationProvider" Type="Carbon.Configuration.Providers.Custom.LocalUsersConfigurationProvider, Carbon.Framework"/>

    </CarbonConfigurationProviders>

    <!-- Plugin Providers -->
    <CarbonPluginProviders>

      <!-- File System Plugins -->
      <Provider Name="FileSystemPlugInProvider" Type="Carbon.Plugins.Providers.Custom.FileSystemPlugInProvider, Carbon.Framework"/>

    </CarbonPluginProviders>

    <!-- Window Providers -->
    <CarbonWindowProviders>

      <Provider Name="SplashWindowProvider" Type="Carbon.UI.Providers.Custom.SplashWindowProvider, Carbon.Framework"/>
      <Provider Name="AboutWindowProvider" Type="Carbon.UI.Providers.Custom.AboutWindowProvider, Carbon.Framework"/>
      <Provider Name="OptionsWindowProvider" Type="Carbon.UI.Providers.Custom.OptionsWindowProvider, Carbon.Framework"/>

    </CarbonWindowProviders>

  </CarbonSettings>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
