<?xml version="1.0"?>
<configuration>

	<configSections>
		 <!--Carbon Required Section Handlers--> 
		<sectionGroup name="CarbonSettings">
			<section name="CarbonConfigurationProviders" type="Carbon.Configuration.SectionHandlers.Custom.ConfigurationProvidersSectionHandler, Carbon.Framework"/>
			<section name="CarbonPluginProviders" type="Carbon.Configuration.SectionHandlers.Custom.PluginProvidersSectionHandler, Carbon.Framework"/>
			<section name="CarbonWindowProviders" type="Carbon.Configuration.SectionHandlers.Custom.WindowProvidersSectionHandler, Carbon.Framework"/>
		</sectionGroup>
	</configSections>

	<appSettings>

		<!--Carbon Required Settings--> 
		<add key="CarbonSettingsGroupName" value="CarbonSettings"/>
		<add key="CarbonConfigurationProvidersSectionName" value="CarbonConfigurationProviders"/>
		<add key="CarbonPluginProvidersSectionName" value="CarbonPluginProviders"/>
		<add key="CarbonWindowProvidersSectionName" value="CarbonWindowProviders"/>
		<add key="CarbonSplashWindowProviderName" value="SplashWindowProvider"/>
		<add key="CarbonAboutWindowProviderName" value="AboutWindowProvider"/>
		<add key="CarbonOptionsWindowProviderName" value="OptionsWindowProvider"/>
		<add key="CarbonDocumentsAndSettingsRelativePath" value="SMARTDataBees"/>
		<add key="CarbonRunApplicationContext" value="true"/> <!-- TH : run messageloop in carbon without starting a dialog explicit!-->
		<add key="CarbonVerbose" value="false"/>
		<add key="CarbonShowSplashWindow" value="true"/>
		<add key="CarbonSingleInstance" value="false"/>
		<add key="CarbonSingleInstancePort" value="30000"/>
		<add key="CarbonSingleInstanceMutexName" value="d7685848-13a5-4f55-804e-513d7fd4781a"/>
		<add key="CarbonAutoUpdateWebServiceUrl" value="http://www.razorwire.com/autoupdate/autoupdatewebservice.asmx"/>
		
		<!--SMARTDataBees Settings-->
		<!--Possible values: MicrosoftSQL, MySQL, ...--> 
		<!--<add key="SQLProvider" value="MySQL" /> 
		<add key="DefaultSQLServer" value="127.0.0.1" />
		<add key="DefaultSQLDatabase" value="sdbees" />
		<add key="DefaultSQLSecureDatabase" value="sdbees" />
		<add key="SQLPort" value="3306" />
		<add key="SQLTableCaching" value="No" />  --><!--Set to "Yes" when caching should be enabled, good for databases on the web--><!-- 
		<add key="EDMRootDirectory" value="C:\SDBees.EDM" />
		<add key="ImportRules-Acad0001" value="ImportRules-Acad0001.xml" />-->

		<add key="MainWindowTitle" value="SMARTDataBees"/>
		<add key="MainWindowIcon" value="\\Resources\\SDBees.ico"/>
		<add key="Webpage" value="http://www.smartdatabees.de"/>
		<add key="SupressDBSelection" value="false"/>
		<add key="DisplayLengthUnits" value="Millimeters"/>

		<add key="ViewAdminVisible" value="true"/>
		<add key="ReportingManagerVisible" value="true"/>
		<add key="EDMManagerVisible" value="true"/>

		<add key="LoginDlgPropertiesEnabled" value="true" />

		<!-- dissables the edit schema functionality for listet plugins. Separate by ; Type;Type;Type -->
		<add key="DisallowEditSchema" value=""/>

	</appSettings>

	<!-- Carbon Specific Settings -->
	<CarbonSettings>
		 <!--Configuration Providers--> 
		<CarbonConfigurationProviders>
			 <!--All Users Configuration--> 
			<Provider Name="AllUsersConfigurationProvider" Type="Carbon.Configuration.Providers.Custom.AllUsersConfigurationProvider, Carbon.Framework"/>
			 <!--Local Users Configuration--> 
			<Provider Name="LocalUsersConfigurationProvider" Type="Carbon.Configuration.Providers.Custom.LocalUsersConfigurationProvider, Carbon.Framework"/>
		</CarbonConfigurationProviders>
		 <!--Plugin Providers--> 
		<CarbonPluginProviders>
			 <!--File System Plugins--> 
			<Provider Name="FileSystemPlugInProvider" Type="Carbon.Plugins.Providers.Custom.FileSystemPlugInProvider, Carbon.Framework"/>
		</CarbonPluginProviders>
		 <!--Window Providers--> 
		<CarbonWindowProviders>
			<Provider Name="SplashWindowProvider" Type="Carbon.UI.Providers.Custom.SplashWindowProvider, Carbon.Framework"/>
			<Provider Name="AboutWindowProvider" Type="Carbon.UI.Providers.Custom.AboutWindowProvider, Carbon.Framework"/>
			<Provider Name="OptionsWindowProvider" Type="Carbon.UI.Providers.Custom.OptionsWindowProvider, Carbon.Framework"/>
		</CarbonWindowProviders>
	</CarbonSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-0.84.0.0" newVersion="0.84.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	
	<system.serviceModel>
		<bindings>
			<netNamedPipeBinding>
				<binding name="ISDBeesExternalPluginService" closeTimeout="00:05:00" openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxConnections="50" maxBufferPoolSize="50000000" maxBufferSize="50000000" maxReceivedMessageSize="50000000">
					<readerQuotas maxDepth="32" maxStringContentLength="50000000" maxArrayLength="50000000" maxBytesPerRead="50000000" maxNameTableCharCount="50000000"/>
					<security mode="Transport"/>
				</binding>
			</netNamedPipeBinding>
		</bindings>
		<services>
			<service name="SDBees.Core.Connectivity.SDBeesLink.Service.SDBeesExternalPluginService" behaviorConfiguration="MEX">
				<endpoint address="net.pipe://localhost/SDBees.Core/SDBeesExternalPluginService" binding="netNamedPipeBinding" bindingConfiguration="ISDBeesExternalPluginService" contract="SDBees.Core.Connectivity.SDBeesLink.Service.ISDBeesExternalPluginService"/>

				<endpoint address="net.pipe://localhost/SDBees.Core/SDBeesExternalPluginService/mex" binding="mexNamedPipeBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MEX">
					<serviceMetadata httpGetEnabled="False"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>
